{% extends 'base.html.twig' %}

{% block body %}
<h1>Modifier ifnos auteur</h1>
    {{ form_start(form) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.birthdate) }}
        <button type="submit">Valider</button>
    {{ form_end(form) }}
{% endblock %}