{% extends 'base.html.twig' %}

{% block title %}Hello BookeController!{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.publicationDate) }}
        {{ form_row(form.author) }}
        <button type="submit">Valider</button>
    {{ form_end(form) }}
{% endblock %}
