{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
{% if app.user %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr> #}
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            
        </tbody>
    </table>
    <a href="{{ path('user_edit', {'id': user.id}) }}">Modifier mes infos</a>

    {{ include('user/_delete_form.html.twig') }}


    <div>
    <h4>Mes auteurs</h4>
        {% for author in myAuthors %}
            <div style="display:flex; align-items: center;">
                <p>{{author.firstName}} | {{author.lastName}}</p>
                <button><a href="{{ path('author_edit', {'id': author.id}) }}"> Modifier
                </a></button>

                <form method="post" action="{{ path('author_delete', {'id': author.id}) }}" onsubmit="return confirm('Are you sure you want to delete this author?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ author.id) }}">
                    <button class="btn">Supprimer</button>
                </form>
                </div>
        {% endfor %}
        <button><a href="{{path('author_new')}}">Ajouter un auteur</a></button>

        <h4>Mes livres</h4>

        {% for book in myBooks %}
            <div style="display:flex; align-items: center;">
                <p>{{book.title}} | {{book.author.firstName}} {{book.author.lastName}}</p>
                <button><a href="{{ path('book_edit', {'id': book.id}) }}"> Modifier
                </a></button>

                <form method="post" action="{{ path('book_delete', {'id': book.id}) }}" onsubmit="return confirm('Are you sure you want to delete this book?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ book.id) }}">
                    <button class="btn">Supprimer</button>
                </form>
                </div>
                
            
        {% endfor %}
        
        <button><a href="{{path('book_new')}}">Ajouter un livre</a></button>
    </div>
{% else %}
    Veuillez vous connecter
{% endif %}
    
{% endblock %}
